dash==1.18.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
decorator==4.4.2
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-Compress==1.8.0
fsspec==0.7.4
influxdb==5.3.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.5.2
numpy==1.18.5
pandas
pandocfilters==1.4.2
plotly==4.14.1
